* {
	margin:0;
	padding:0;
	font-family: sans-serif;
}
body {
	background-color: #eee;
}
.box-form {
	width:40%;
	min-height:500px;
	border:1px dashed;
	margin:5% auto;
	background-color: #fff;
	padding:1%;
}
.box-form form input[type=text],
.box-form form input[type=email],
.box-form form input[type=password] {
	width:80%;
	height:30px;
	padding-left:1%;
	font-size: 17px;
}
.box-form form input[type=date] {
	width:60%;
	height:30px;
	padding-left:1%;
	font-size: 17px;
}
.box-form form select {
	width:40%;
	height:30px;
	padding-left:1%;
	font-size: 17px;
}
.box-form form input[type=submit] {
	padding:1% 5%;
	display: inline-block;
	background-color: #3366ff;
	color:#fff;
	border:1px solid #3366ff;
	cursor: pointer;
}
.alert-error {
	width:100%;
	height:30px;
	background-color: #ff0000;
	border:1px solid #990000;
	color:#fff;
	margin:1% 0;
	line-height: 30px;
	padding-left:1%;
}
.box-data {
	width:80%;
	min-height:500px;
	border:1px dashed;
	margin:5% auto;
	background-color: #fff;
	padding:1%;
}